
// Specific CSS for your home-page
h1 {
  color:#670BFF;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Button styles */
.btn-primary {
  background-color: #670BFF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: white;
  color: #670BFF;
}

a {
  color: #670BFF;
  text-decoration: none;
}

a:hover {
  background-color: #FFFFFF;
  color: #A259FF;
}
.btn-secondary {
  background-color: white;
  color: #670BFF;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-secondary:hover {
  background-color: #670BFF;
  color: white;
}

.section-text {
  color: white;
  font-size: 1.1rem;
}
