<div class="landing-page" style="background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)), url(<%= asset_path "background-image.png" %>);">
  <div class="content">
    <h1>Awesome Pitches for LeWagon Students</h1>
    <h2>Let AI create your winning pitch for your bootcamp project</h2>
  </div>

  <div class="d-flex justify-content-center gap-3 mt-4">
    <%= link_to "Generate Pitch", new_pitch_path, class: "btn btn-primary" %>
    <%= link_to "Explore Public Pitches", pitches_path, class: "btn btn-secondary" %>
  </div>
</div>
