.footer {
  background-color: #670BFF;
  padding: 20px 0;
  color: white;
  font-size: 16px;
  border-top: 1px solid #e5e5e5;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-copyright {
  text-align: left;
  width: 30%;
}

.footer-menu {
  text-align: right;
  width: 30%;
}

.footer-links {
  text-align: center;
  line-height: 1;
}

.footer-menu h3 {
  color: white;
  font-weight: bold !important;
}

.fa-heart {
  color: red;
}

.footer-menu a {
  color: white;
  text-decoration: none;
}

.footer-menu a:hover {
  background-color: white;
}

.footer-links a {
  color: rgb(254, 252, 252);
  text-decoration: none;
  font-size: 24px; /* Optional: Make icons bigger */
  margin: 0 10px; /* Add space between icons */
  transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.footer-links a:hover {
  color:rgb(103, 11, 255);
  transform: scale(1.2) rotate(360deg); /* Scale and rotate effect */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Optional: shadow effect */
}
