// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "footer";





#services {
  margin-top: 50px;
  margin-bottom: 50px;
}

#contact {
  margin-top: 50px;
}
