// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";


.ellipse-bg {
  background: radial-gradient(circle, rgba(106, 78, 35, 0.9) 40%, rgba(106, 78, 35, 0) 100%);
  padding: 15px 30px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25rem;
  display: inline-block;
  transition: all 0.5s ease;
}


#services {
  margin-top: 50px;
  margin-bottom: 50px;
}

#contact {
  margin-top: 50px;
}
